<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View My Task</title>
</head>
<body>

<h2 align="center">My Tasks</h2>

<table border="1" align="center">
    <tr>
        <th>SI.NO</th>
        <th>Request Title</th>
        <th>Description</th>
        <th>Date</th>
        <th>To Date</th>
        <th>Place</th>
        <th>Status / Action</th>
        <th>Assign</th>
    </tr>

    {% for i in responsedata %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ i.request_id.request_title }}</td>
        <td>{{ i.request_id.request_content }}</td>
        <td>{{ i.request_id.request_date }}</td>
        <td>{{ i.request_id.request_todate }}</td>
        <td>{{ i.request_id.place_id.place_name }}</td>

        <td>
            {% if i.response_status == 0 %}
                Accepted <br>
                <a href="{% url 'Volunteer:InProgress' i.id %}">Start Work</a>

            {% elif i.response_status == 2 %}
                In Progress <br>
                <a href="{% url 'Volunteer:Completed' i.id %}">Work Completed</a>

            {% elif i.response_status == 3 %}
                Completed

            {% else %}
                Pending
            {% endif %}
        </td>
        <td>
    {% if i.response_status != 3 %}
        <a href="{% url 'Volunteer:AssignMembers' i.id %}">
            Assign Members
        </a>
    {% else %}
        Completed
    {% endif %}
</td>

    </tr>
    {% empty %}
    <tr>
        <td colspan="7" align="center">No Tasks Found</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>
