{% extends 'Volunteer/Header.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Request</title>

</head>

<body>

    <h2 style="text-align: center;">Available Requests</h2>

    <table border="1" align="center">
        <tr>
            <th>SI.NO</th>
            <th>Title</th>
            <th>Content</th>
            <th>District</th>
            <th>Place</th>
            <th>Date</th>
            <th>To Date</th>
            <th>Action</th>
        </tr>

        {% for i in requestdata %}
        <tr {% if i.is_important %}class="important" {% endif %}>
            <td>{{ forloop.counter }}</td>
            <td>{{ i.request_title }}</td>
            <td>{{ i.request_content }}</td>
            <td>{{ i.place_id.district.district_name }}</td>
            <td>{{ i.place_id.place_name }}</td>
            <td>{{ i.request_date }}</td>
            <td>{{ i.request_todate }}</td>
            <td>
                {% if not i.joined %}
                <a href="{% url 'Volunteer:Join' i.id %}">Join</a>
                {% else %}
                Joined
                {% endif %}
            </td>

        </tr>
        {% empty %}
        <tr>
            <td colspan="8" align="center">No Requests Available</td>
        </tr>
        {% endfor %}
    </table>

    {% if msg %}
    <script>
        alert("{{ msg }}");
        window.location = "{% url 'Volunteer:ViewRequest' %}";
    </script>
    {% endif %}

</body>

</html>

{% endblock %}