<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complaint</title>
</head>
<body>
   <form action="" method="post">
     {% csrf_token %}
      <h2 style="text-align: center;">Complaint Box</h2>
    <table border="1" align="center">
        <tr>
            <td>Title</td>
            <td><input type="text" name="txt_title" id="txt_title"></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><textarea name="txt_description" id="txt_description" cols="40" rows="7"></textarea></td>
        </tr>
        <tr>
            <td colspan="2" align="center"><input type="submit" value="Submit"></td>
            
        </tr>
    </table>
   </form> 
</body>
{% if msg %}
<script>
    alert("{{msg}}")
    </script>
    {% endif %}
</html>