<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request</title>
</head>
<body>
    <form action="" method="post">
         {% csrf_token %}
          <h2 style="text-align: center;">Request</h2>
        <table border="1" align="center">
            <tr>
                <td>Title</td>
                <td><input type="text" name="txt_title" id="txt_title"></td>
            </tr>
            <tr>
                <td>Content</td>
                <td><textarea name="txt_content" id="txt_content"></textarea></td>
            </tr>
            <tr>
                <td>District</td>
                <td>
                    <select name="sel_distirct" id="sel_distirct">
                        <option value="">--select district--</option>
                        {% for i in district %}\
                        <option value="{{ i.id }}">
                            {{i.district_name}}
                        </option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Place</td>
                <td>
                    <select name="sel_place" id="sel_place">
                        <option value="">--select place--</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>To Date</td>
                <td><input type="date" name="txt_date" id="txt_date"></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="Submit"></td>
               
            </tr>
             
        </table>
         <h2 style="text-align: center;">Request  List</h2>
        <table border="1" align="center">
            <tr>
                <td>SI.NO</td>
                <td>Title</td>
                <td>Content</td>
                <td>District</td>
                <td>Place</td>
                <td>ToDate</td>
                <td>Date</td>
                <td>Action</td>
            </tr>
            {% for i in requestdata %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{i.request_title}}</td>
                <td>{{ i.request_content }}</td>
                <td>{{i.place_id.district.district_name}}</td>
                <td>{{ i.place_id.place_name }}</td>
                 <td>{{i.request_todate}}</td>
                <td>{{i.request_date}}</td>
                <td><a href="{% url 'Admin:ViewResponse' i.id %}">View Volunteer</a></td>
            </tr>
            {% endfor %}
        </table>


    </form>
</body>

{% if msg %}
<script>

    alert("{{msg}}")
    window.location="{% url 'User:Request' %}";
</script>
{% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $("#sel_distirct").change(function () {
        var did = $(this).val();

        var ur = "{% url 'Guest:ajaxplace' %}"
        $.ajax({
            url: ur,
            data: { did: did, },
            success: function (data) {
                $("#sel_place").html(data);
            },
        });
    });
</script>


</html>