<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ViewCamp</title>
</head>
<body>
    <form action="" method="post">
        <h2 style="text-align: center;">Camp Details</h2>
        <table border="1" align="center">
            <tr>
                <td>SI.NO</td>
                <td>District</td>
                <td>Place</td>
                <td>Details</td>
            </tr>
            {% for i in campdata %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ i.place_id.district.district_name }}</td>
                <td>{{ i.place_id.place_name }}</td>
                <td>{{ i.camp_details }}</td>
            </tr>
            {% endfor %}
        </table>
    </form>
</body>
</html>