<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body>
    <a href="{% url 'Admin:ViewRequest'  %}">View Request</a>
    <br><a href="{% url 'Admin:DonationRequest'  %}">DonationRequest</a>
    <br><a href="{% url 'Admin:District'  %}">District</a>   
    <br><a href="{% url 'Admin:Camp'  %}">Camp</a>   
    
    <br><a href="{% url 'Admin:AdminRegistration'  %}">Admin Registration</a>
    <br><a href="{% url 'Admin:UserList'  %}">User List</a>   
    <br><a href="{% url 'Admin:VolunteerList'  %}"> VolunteerList</a>
    <br><a href="{% url 'Admin:ViewComplaint' %}"> View Complaint</a></br>
    <br><a href="{% url 'Admin:logout'  %}"> Logout</a></br> 





</body>
</html>
