<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>place</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}

        <table border="1" align="center">
            <tr>
            <td>District</td>
            <td><select name="sel_district" id="sel_district">
                <option value="">--Select--</option>
                {% for i in district %}
                <option
                {% if i.id == editdata.district.id %}
                selected
                {% endif %}
                value="{{i.id}}">{{i.district_name}}</option>
                {% endfor %}
            </select></td>
        </tr>
        <tr>
            <td>Place</td>
            <td><input type="text" name="txt_name" id="txt_name" value="{{ editdata.place_name }}"></td>
        </tr>
        <tr>
            <td colspan="2" align="center"> <input type="submit" value="Submit"></td>
            
        </tr></table>
    </form>
    <table border="1" align="center">
        <tr>
            <td>SI.NO</td>
            <td>District</td>
            <td>Place</td>
            <td>Action</td>
        </tr>
        {% for i in place %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.district.district_name}}</td>
            <td>{{i.place_name}}</td>
            <td><a href="{% url 'Admin:delplace' i.id %}">Delete /
                    <a href="{% url 'Admin:editplace' i.id %}">Edit
                </a></td>
        </tr>
        {% endfor %}
    </table>
</body>
{% if msg %}
<script>
    alert("{{msg}}")
    window.location="{% url 'Admin:Place' %}";
</script>
    {% endif %}
</html>