<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserList</title>
</head>
<body>
    <form action="" method="post">
         {% csrf_token %}
        <table border="1" align="center">
            <tr>
                <td>SI.NO</td>
                <td>Name</td>
                <td>Email</td>
                <td>Contact</td>
                <td>Address</td>
                <td>District</td>
                <td>Place</td>
                <td>Photo</td>
                <td>Action</td>
            </tr>
            {% for i in users %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ i.user_name }}</td>
                <td>{{ i.user_email }}</td>
                <td>{{ i.user_contact }}</td>
                <td>{{ i.user_address }}</td>
                <td>{{ i.place.district.district_name }}</td>
                <td>{{ i.place.place_name }}</td>
                <td>{{ i.user_photo }}</td>
                <td></td>
            </tr>
            {% endfor %}
        </table>
    </form>
</body>
</html>