<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ViewComplaint</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
    <h2 style="text-align: center;">View User Complaints</h2>

        <table border="1" align="center">
            <tr>
                <td>SI.NO</td>
                <td>User Name</td>
                <td>Title</td>
                <td>Content</td>
                <td>Action</td>
            </tr>
            {% for i in complaintdata %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ i.user_id.user_name }}</td>
                <td>{{ i.complaint_title }}</td>
                <td>{{ i.complaint_description }}</td>
                <td><a href="{% url 'Admin:Reply' i.id %}">Reply</a></td>
            </tr>
            {% endfor %}
        </table>
    </form>
</body>

</html>